<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesión Admin</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_admin.css' %}">
</head>
<body>

<div class="container mt-4">
    <a href="{% url 'index' %}" class="btn btn-secondary mb-3 left-corner">Volver al Inicio</a>
    <h2>Gestión de Productos</h2>
    <a href="{% url 'agregar_producto_index' %}" class="btn btn-primary mb-3">Agregar Producto General</a>
    <a href="{% url 'agregar_producto_bandanas' %}" class="btn btn-primary mb-3">Agregar Producto de bandanas</a>
    <a href="{% url 'agregar_producto_collares' %}" class="btn btn-primary mb-3">Agregar Producto de collares</a>
    <a href="{% url 'agregar_producto_identificadores' %}" class="btn btn-primary mb-3">Agregar Producto de identificadores</a>
    <a href="{% url 'agregar_producto_ofertas' %}" class="btn btn-primary mb-3">Agregar Producto de ofertas</a>
    
    <div class="product-list">
        <h3>Productos para Index</h3>
        {% for producto in productos_index %}
        <div class="product-item bg-light p-3 mb-3 rounded">
            <div>
                <strong>{{ producto.nombre }}</strong> - {% if '$' not in producto.precio %}${% endif %}{{ producto.precio }}
            </div>
            <div class="mt-2">
                <a href="{% url 'modificar_producto_index' producto.id %}" class="btn btn-warning me-2">Modificar</a>
                <a href="{% url 'eliminar_producto_index' producto.id %}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="product-list">
        <h3>Productos para Bandanas</h3>
        {% for producto in productos_bandanas %}
        <div class="product-item bg-light p-3 mb-3 rounded">
            <div>
                <strong>{{ producto.nombre }}</strong> - {% if '$' not in producto.precio %}${% endif %}{{ producto.precio }}
            </div>
            <div class="mt-2">
                <a href="{% url 'modificar_producto_bandanas' producto.id %}" class="btn btn-warning me-2">Modificar</a>
                <a href="{% url 'eliminar_producto_bandanas' producto.id %}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="product-list">
        <h3>Productos para collares</h3>
        {% for producto in productos_collares %}
        <div class="product-item bg-light p-3 mb-3 rounded">
            <div>
                <strong>{{ producto.nombre }}</strong> - {% if '$' not in producto.precio %}${% endif %}{{ producto.precio }} 
            </div>
            <div class="mt-2">
                <a href="{% url 'modificar_producto_collares' producto.id %}" class="btn btn-warning me-2">Modificar</a>
                <a href="{% url 'eliminar_producto_collares' producto.id %}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="product-list">
        <h3>Productos para identificadores</h3>
        {% for producto in productos_identificadores %}
        <div class="product-item bg-light p-3 mb-3 rounded">
            <div>
                <strong>{{ producto.nombre }}</strong> - {% if '$' not in producto.precio %}${% endif %}{{ producto.precio }} 
            </div>
            <div class="mt-2">
                <a href="{% url 'modificar_producto_identificadores' producto.id %}" class="btn btn-warning me-2">Modificar</a>
                <a href="{% url 'eliminar_producto_identificadores' producto.id %}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="product-list">
        <h3>Productos para Ofertas</h3>
        {% for producto in productos_ofertas %}
        <div class="product-item bg-light p-3 mb-3 rounded">
            <div>
                <strong>{{ producto.nombre }}</strong> - {% if '$' not in producto.precio %}${% endif %}{{ producto.precio }}
            </div>
            <div class="mt-2">
                <a href="{% url 'modificar_producto_ofertas' producto.id %}" class="btn btn-warning me-2">Modificar</a>
                <a href="{% url 'eliminar_producto_ofertas' producto.id %}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>