<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANMI - Artículos de Animales</title>
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
   
</head>
<body data-bs-theme="light">
    <!-- Inicio Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <!-- Fin Scripts -->
    
    <!-- Inicio Navbar1 -->
    <nav id="navbar1" class="navbar navbar-expand-lg navbar-dark bg-success">
        <button id="boton_modo_oscuro" onclick="cambiarTema()" class="btn rounded-fill">
            <i id="icono_modo" class="bi bi-moon-fill"></i>
        </button>
            <di v class="container">
            <a class="navbar-brand" href="{% url 'index' %}"> 
                <img src="{% static 'img/LogotipoANMI.png' %}" id="logo" alt="ANMI Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a id="textonav1" class="nav-link" href="{% url 'ayuda' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-raised-hand" viewBox="0 0 16 16">
                                <path d="M6 6.207v9.043a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H6.236a1 1 0 0 1-.447-.106l-.33-.165A.83.83 0 0 1 5 2.488V.75a.75.75 0 0 0-1.5 0v2.083c0 .715.404 1.37 1.044 1.689L5.5 5c.32.32.5.754.5 1.207"/>
                                <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                            </svg>
                            Ayuda
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="textonav1" class="nav-link" href="{% url 'ver_canasta' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9zM1 7v1h14V7zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5"/>
                            </svg>
                            Canasta
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="textonav1" class="nav-link" href="{% url 'micuenta' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                                <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
                                <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
                            </svg>
                            Mi Cuenta
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lista_productos' %}">Sesion admin
                        </a>
                    </li>
                </ul>
                <form id="search-form" class="d-flex">
                    <input class="form-control me-2" id="search-bar" type="search" placeholder="Buscar productos" aria-label="Search">
                    <button class="btn btn-outline-light" id="search-button" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Fin Navbar -->


    <!-- Segundo NavBar-->
    <nav id="navbar2" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" id="botonnav2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown2" aria-controls="navbarNavDropdown2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown2">
                <ul class="navbar-nav mx-auto">
                    <li id="item_navbar2" class="nav-item">
                        <a id="textonav2" class="nav-link textoNavbar2" href="{% url 'bandanas' %}">
                            Bandanas
                        </a>
                    </li>
                    <li id="item_navbar2" class="nav-item">
                        <a id="textonav2" class="nav-link textoNavbar2" href="{% url 'collares' %}">
                            Collares
                        </a>
                    </li>
                    <li id="item_navbar2" class="nav-item">
                        <a id="textonav2" class="nav-link textoNavbar2" href="{% url 'identificadores' %}">
                            Identificadores
                        </a>
                    </li>
                    <li id="item_navbar2" class="nav-item">
                        <a id="textonav2" class="nav-link textoNavbar2" href="{% url 'ofertas' %}">
                            Ofertas
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Fin Segundo NavBar-->




    <!-- Inicio Contenido Del banner Fundacion-->
    <div class="container text-center" id="bannerFundacion">
        <div class="row align-items-start">
            <div class="col-12">
                <a href="{% url 'fundacion' %}">
                    <img src="{% static 'img/FundacionDJ.png' %}" class="img-fluid" alt="Banner">
                </a>
            </div>
        </div>
    </div>
    <!-- Fin Contenido  Del Banner Fundacion-->

    <!-- Inicio Contenido Del Carrusel -->
    <section class="container mt-4">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="{% url 'collares' %}">
                    <img src="{% static 'img/CarruselCollar.jpg' %}" class="d-block w-100" alt="">
                </a>
              </div>
              <div class="carousel-item">
                <a href="{% url 'identificadores' %}">
                    <img src="{% static 'img/CarruselIdentificacion.jpg' %}" class="d-block w-100" alt="...">
                </a>
              </div>
              <div class="carousel-item">
                <a href="{% url 'bandanas' %}">
                    <img src="{% static 'img/CarruselBandanas.jpg' %}" class="d-block w-100" alt="...">
                </a>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          
    </section>
    <!-- Fin Contenido Del Carrusel -->

    <!-- Imagen de publicidad con enlace -->
    <div class="container text-center">
        <div class="row align-items-start">
            <div id="columna_publicidad"   class="col-12">
                <a href="{% url 'ofertas' %}">
                    <img src="{% static 'img/BannerOutletOfertas.jpg' %}" class="img-fluid" alt="Publicidad">
                </a>
            </div>
        </div>
    </div>
    <!-- Fin Imagen de publicidad -->
    <br>
    <!-- Imagen mas vendidos -->
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <img src="{% static 'img/bannerproductosmasvendidos.png' %}" class="img-fluid" alt="Productos más vendidos">
            </div>
        </div>
    </div>
    <!-- Fin Imagen mas vendidos -->


    <!-- Contenido -->
    <div class="container mt-4">
        <div class="row">
            {% for x in productos %}
            <div class="col-sm-6 col-md-3 mb-4">
                <div class="card">
                    <img src="{{ x.imagen.url }}" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{x.nombre}}</h5>
                        <p class="card-text">{{x.texto}}</p>
                        <p class="card-text">${{x.precio}}</p>
                        <a href="{% url 'agregar_al_carrito' x.id %}" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
            {% endfor %}  
        </div>
    </div>
    
    <!-- Inicio Footer -->
    <footer id="footer" class="py-4 text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <address>
                        <p>Contacto:</p>
                        <p><a href="mailto:migu.leyton@duocuc.cl">migu.leyton@duocuc.cl</a></p>
                        <p><a href="mailto:an.morap@duocuc.cl">an.morap@duocuc.cl</a></p>
                    </address>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'fundacion' %}">Fundacion Ningun DJ sin Comer</a>
                    <p class="mb-0">¡Suscríbete a nuestra donación y obtén un 10% de descuento en tu compra!</p>
                </div>
                <div class="col-md-4">
                    <p>Horario de atención:</p>
                    <p>Lunes a Viernes: 9:00am - 6:00pm</p>
                    <p>Sábados: 10:00am - 2:00pm</p>
                    <p>Domingos: Cerrado</p>
                </div>
            </div>
            <hr class="my-4">
            <div class="text-center">
                <p>&copy; 2024 Fundación Ningún DJ sin Comer. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
    <!-- Final Footer -->

    <!-- Scripts -->
    <!-- Script Modo Oscuro/Claro -->    
    <script>
    
    </script>

    <script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    
</body>
</html>
